<div class="form-container" [formGroup]="form" (input)="submittedStep1= false">
  <h1 class="site-title">JOBOTIC</h1>

      <!-- Step 1: Account Info -->
      <div *ngIf="step === 1" formGroupName="personal">
        <h2>Account Info</h2>
        <div class="row">
          <div class="col-6">
            <input formControlName="firstName" placeholder="First Name" class="form-control">
            <div class="error-message" *ngIf="submittedStep1 && form.get('personal.firstName')?.invalid">
              <div *ngIf="form.get('personal.firstName')?.errors?.['required']">
                First name is required
              </div>   
            </div>
          </div>

          <div class="col-6">
            <input formControlName="lastName" placeholder="Last Name" class="form-control">
            <div class="error-message" *ngIf="submittedStep1 && form.get('personal.lastName')?.invalid">
              <div *ngIf="form.get('personal.lastName')?.errors?.['required']">
                Last name is required
              </div>
            </div>
          </div>
        </div>

        <input formControlName="email" placeholder="Email" type="email" class="form-control mt-3">
        <div class="error-message" *ngIf="submittedStep1 && form.get('personal.email')?.invalid">
          <div *ngIf="form.get('personal.email')?.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="form.get('personal.email')?.errors?.['email']">
            Invalid Email
          </div>
        </div>

        <input formControlName="password" placeholder="Password" type="password" class="form-control mt-3">
        <div class="error-message" *ngIf="submittedStep1 && form.get('personal.password')?.invalid">
          <div *ngIf="form.get('personal.password')?.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="form.get('personal.password')?.errors?.['pattern']">
            Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters
          </div>
        </div>

        <input formControlName="confirmPassword" placeholder="Confirm Password" type="password" class="form-control mt-3">
        <div class="error-message" *ngIf="submittedStep1 && form.get('personal.confirmPassword')?.invalid">
          <div *ngIf="form.get('personal.confirmPassword')?.errors?.['required']">
            This feild is required
          </div>
          <div *ngIf="form.get('personal.confirmPassword')?.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>

        <input formControlName="jobTitle" placeholder="Job Title" class="form-control mt-3">
        <div class="error-message" *ngIf="submittedStep1 && form.get('personal.jobTitle')?.invalid">
          <div *ngIf="form.get('personal.jobTitle')?.errors?.['required']">
            This feild is required
          </div>
        </div>
      </div>
  
      <!-- Step 2: Job Info -->
      <div *ngIf="step === 2" formGroupName="jobInfo">
        <h2>Personal Info</h2>
        
        <!-- Method Switch -->
        <div class="row mx-lg-3 mx-md-1 mx-sm-5">
          <!-- Upload Icon -->
          <div class="col-md-6 col-12">
            <div class="text-center method-card custom-file-upload"  [ngClass]="{'disabled': selectedMethod === 'manual'}" (click)="selectUploadMethod()">
              <label for="cvUpload" class="upload-label">
                <i class="fa-solid fa-cloud-arrow-up fa-2x mb-2"></i>
                <p class="upload-text">Click to upload CV</p>
              </label>
            </div>
          </div>
          
        
          <!-- Manual Entry Icon -->
          <div class="col-md-6 col-12">
            <div class="text-center method-card custom-file-upload "  [ngClass]="{'disabled': selectedMethod === 'upload'}" (click)="selectManualMethod()">
              <i class="fa-solid fa-keyboard fa-2x mb-2"></i>
              <h6 class="upload-text">Enter your Info Manually</h6>
            </div>
          </div>
        </div>
        
        <!-- Upload CV Section -->
        <div *ngIf="form.get('jobInfo.method')?.value === 'upload'" class="mb-3">
          <input type="file" id="cvUpload" class="form-control file-input d-none" (change)="onFileChange($event)"/>
        </div>

        <div *ngIf="isFileUploaded" class="upload-success d-flex">
          <i class="fa-solid fa-check-circle text-success me-2"></i>
          <p class="text-success">File uploaded successfully!</p>
        </div>
        
        <!-- Manual Entry Form -->
        <div *ngIf="form.get('jobInfo.method')?.value === 'manual'" formGroupName="manual">
          <div class="row mt-3">
            <div class="mb-2 col-6">
              <input formControlName="country" placeholder="Country" class="form-control"/>
              <div class="" *ngIf="submittedStep2 && form.get('jobInfo.manual.country')?.invalid">
                <div class="error-message">
                  Enter your country
                </div>
              </div>
            </div>

            <div class="mb-2 col-6">
              <input formControlName="city" placeholder="City" class="form-control"/>
              <div class="" *ngIf="submittedStep2 && form.get('jobInfo.manual.city')?.invalid">
                <div class="error-message">
                  Enter your city
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="mb-2 col-6">
              <input formControlName="education" placeholder="Education" class="form-control"/>
              <div class="" *ngIf="submittedStep2 && form.get('jobInfo.manual.education')?.invalid">
                <div class="error-message">
                  Enter your education
                </div>
              </div>
            </div>

            <div class="mb-2 col-6">
              <input formControlName="field" placeholder="Field of Study" class="form-control"/>
              <div class="" *ngIf="submittedStep2 && form.get('jobInfo.manual.field')?.invalid">
                <div class="error-message">
                  Enter your Field
                </div>
              </div>
            </div>
          </div> 
          <ng-select
            formControlName="type" [items]="skills" bindLabel="label" bindValue="value"
            [multiple]="true" placeholder="Skills" (change)="validateSkills()">
          </ng-select>
        <div *ngIf="submittedStep2 && form.get('jobInfo.manual.type')?.invalid">
          <div class="error-message" *ngIf="form.get('jobInfo.manual.type')?.errors?.['required']">
            Please select at least one skill.
          </div>
        </div>
        </div>
        <div class="error-message" *ngIf="submittedStep2 && form.get('jobInfo')?.get('method')?.errors?.['required']">
          Please choose a method to continue.
      </div>
      </div>

      <!-- Step 3: Preferences -->
      <div *ngIf="step === 3" formGroupName="workPreferences">
        <h2>Job Preferences</h2>
        <ng-select
        formControlName="type" [items]="jobTypes" bindLabel="label" bindValue="value" [multiple]="true"
        placeholder="Select job types"></ng-select>
        <div class="error-message" *ngIf="submittedStep3 && form.get('workPreferences.type')?.invalid">
          <div *ngIf="form.get('workPreferences.type')?.errors?.['required']">
            Please select at least one job type
          </div>
        </div>
      
      <ng-select
        formControlName="workplace" [items]="workplaces" bindLabel="label" bindValue="value" [multiple]="true"
        placeholder="Select workplace options"></ng-select>
        <div class="error-message" *ngIf="submittedStep3 && form.get('workPreferences.workplace')?.invalid">
          <div *ngIf="form.get('workPreferences.workplace')?.errors?.['required']">
            Please select at least one workplace option
          </div>
        </div>
        
        <input formControlName="category" placeholder="Job Category" class="form-control bg-white"/>
        <div class="error-message" *ngIf="submittedStep3 && form.get('workPreferences.category')?.invalid">
          <div *ngIf="form.get('workPreferences.category')?.errors?.['required']">
            Job category is required
          </div>
        </div>
      </div>
  
      <!-- Navigation -->
      <div class="buttons">
        <button type="button" (click)="prevStep()" [disabled]="step === 1">Back</button>
        <button type="button" (click)="nextStep()" *ngIf="step < 3">Next</button>
        <button type="button" (click)="submit()" *ngIf="step === 3">Submit</button>
      </div>
    
  </div>