<nav class="navbar navbar-expand-lg w-100" #navbar>
    <div class="nav1 container">
        <a class="navbar-brand fs-3" href="#">JOBOTIC</a>
        <button class="navbar-toggler btn00" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link" routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{'exact':true}">Home</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" routerLinkActive="activeLink">About Us</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link" routerLinkActive="activeLink">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="activeLink">Contact Us</a>
                </li>
            </ul>
            <button class="btn me-3 btn-login" type="submit">Login</button>
            <button class="btn btn-reg" type="submit">Register</button>
        </div>
    </div>
</nav>

<!-- العنصر التالي للنافبار
<div class="content" [ngStyle]="{'margin-top.px': navbarHeight}">
    <p>هذا المحتوى الذي سيتم دفعه لأسفل عند فتح القائمة.</p>
</div> -->
<!--  -->