<nav class="navbar navbar-expand-lg w-100" #navbar>
    <div class="nav1 container ">
        <a class="navbar-brand fs-3" href="#">JOBOTIC</a>
        <button class="navbar-toggler btn00" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
            <div class="btns ms-auto">
                <button class="btn me-3 btn-login" type="submit">Login</button>

                <button class="btn btn-reg" type="submit" routerLink="/register">Register</button>    

            </div>
            
        </div>
        
    </div>
    
</nav>
