
.nav1{
    border-bottom: 1px solid #3b3838e2;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-reg{
    background-color: #295f4e;
    color: #FAFAF9;
}

.btn-login{
    color: #295f4e;
    border: 1px solid #295f4e;
}
.nav-link{
    color: #FAFAF9;
}

.navbar-brand{
    color: #FAFAF9;
}

.navbar {
    transition: all 0.3s ease-in-out;
    /* overflow: hidden; */
}

.content {
    transition: margin-top 0.3s ease-in-out;
}
.dropdown-menu{
    margin-left: -55px;
    min-width: 8rem !important;
}
.nav-icon{
    color: #295f4e;
}


