.bg-image{
    background:linear-gradient(rgba(0, 0, 0, 0.922),rgba(0, 0, 0, 0.927)), url('bg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* position: absolute;
    top: 0; */
}
.btn-search{
    background-color: #295f4e;
    color: #FAFAF9;
}
.title{
    font-size: 55px;
}

.icon{
    font-size: 20px;
    background-color: #295f4e;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.content{
    transform: translateY(40%);
}
.input-group{
    width: 60%;
}

.responsive-width {
    width: 50%;
}

@media (max-width: 992px) and (min-width: 768px) {
    .bg-image{
        height: 120vh;
    }
    .content{
        transform: translateY(20%);
    }
    .input-group{
        width: 100%;
    }
    .responsive-width {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .bg-image{
        height: 140vh;
    }
    .title{
        font-size: 40px;
    }
    .input-group{
        width: 100%;
    }
    .responsive-width {

        width: 100%;
    }
    .content{
        transform: translateY(10%);
    }
    form{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #FAFAF9;
        padding: 30px;
        & input,select{
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #295f4e;
            margin-bottom: 20px;
        }
        & button{
            
        }
    }
}